:root {
  --dark-pink: #e2216a;
  --link-accent-color: #ff8ba7;
  --pink-color: #ff8ba7;
  --text-color: #fffffe;
  --bg-color: #030200; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: var(--text-color) !important;
  background-color: var(--bg-color) !important; }
  body .more-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 0.5rem;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-pink);
    color: #fff;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease; }
    body .more-btn .short-cut-items {
      display: none; }
    body .more-btn.expanded-list {
      height: 282px; }
      body .more-btn.expanded-list .short-cut-items {
        display: block; }
        body .more-btn.expanded-list .short-cut-items li {
          padding-top: 1rem;
          text-align: center; }
          body .more-btn.expanded-list .short-cut-items li a {
            color: #fff; }
  body .home {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(assets/voizag-beach.jpg) left bottom/cover no-repeat;
    color: #fff; }
    body .home::before {
      content: "";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0; }
    body .home:after {
      content: "Scroll Down";
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      animation: scroll-down 2s ease;
      animation-iteration-count: infinite; }
    body .home .profile-pic {
      width: 200px;
      height: 200px;
      position: relative;
      z-index: 1; }
      body .home .profile-pic::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--pink-color); }
      body .home .profile-pic:hover::after {
        top: 10px;
        left: 10px; }
      body .home .profile-pic:hover img {
        filter: none; }
      body .home .profile-pic img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        filter: grayscale(100%); }
      body .home .profile-pic::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        border: 2px solid var(--dark-pink);
        top: 20px;
        left: 20px;
        z-index: -1; }
    body .home .user-basic-details {
      z-index: 1; }
      body .home .user-basic-details .wave {
        animation-name: wave-animation;
        animation-duration: 2.1s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block; }
      body .home .user-basic-details .cursor {
        display: inline-block;
        width: 3px;
        margin-left: 2px;
        background: #fff; }
      body .home .user-basic-details .cursor.blink {
        animation: blink infinite 1s; }
      body .home .user-basic-details .btn-pink {
        background-color: var(--dark-pink);
        color: #fff;
        transition: transform 0.5s ease; }
        body .home .user-basic-details .btn-pink:hover {
          transform: scale(1.1); }
      body .home .user-basic-details .social-networks {
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap; }
        body .home .user-basic-details .social-networks li {
          margin: 0.5rem;
          width: 50px;
          height: 50px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--dark-pink);
          transition: transform 0.5s ease; }
          body .home .user-basic-details .social-networks li a {
            color: #fff; }
            body .home .user-basic-details .social-networks li a:hover {
              color: #fff; }
          body .home .user-basic-details .social-networks li i {
            font-size: 2rem; }
          body .home .user-basic-details .social-networks li:hover {
            transform: scale(1.1); }
  body .about-me {
    padding-top: 40px; }
    body .about-me .current-company-url {
      color: var(--dark-pink); }
  body .skills .skill-icon {
    text-align: center;
    padding-top: 1rem; }
    body .skills .skill-icon img {
      width: 100px; }
    body .skills .skill-icon p {
      margin-top: 0.5rem;
      font-size: 1.1rem;
      font-weight: bold; }
  body .work-timeline {
    position: relative;
    margin-top: 3rem; }
    body .work-timeline::before {
      content: "";
      position: absolute;
      height: 100%;
      left: 50%;
      width: 2px;
      top: 0;
      background: var(--text-color); }
    body .work-timeline li {
      position: relative; }
      body .work-timeline li h3 {
        color: var(--dark-pink);
        font-weight: bold;
        margin-bottom: 2rem; }
      body .work-timeline li .timeline-content {
        width: 50%; }
      body .work-timeline li .timeline-year {
        width: 50%;
        color: var(--dark-pink);
        font-weight: bold;
        margin-top: -4px; }
      body .work-timeline li::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 6px);
        width: 14px;
        height: 14px;
        background: var(--text-color);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2); }
      body .work-timeline li:nth-child(odd) .timeline-content {
        padding-right: 2rem;
        float: left; }
      body .work-timeline li:nth-child(odd) .timeline-year {
        padding-left: 2rem;
        float: right; }
      body .work-timeline li:nth-child(even) .timeline-content {
        padding-left: 2rem;
        float: right; }
      body .work-timeline li:nth-child(even) .timeline-year {
        padding-right: 2rem;
        text-align: right;
        float: left; }
  body .education-timeline {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    position: relative; }
    body .education-timeline .education-timeline-item {
      position: relative;
      border: 3px solid var(--text-color);
      border-radius: 5px;
      padding: 1rem; }
      body .education-timeline .education-timeline-item h3 {
        color: var(--dark-pink);
        font-weight: bold;
        text-transform: uppercase; }
      body .education-timeline .education-timeline-item:nth-child(1)::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -8px;
        width: 14px;
        height: 14px;
        background: var(--text-color);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2); }
      body .education-timeline .education-timeline-item.btech-item::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -8px;
        width: 14px;
        height: 14px;
        background: var(--text-color);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2); }
    body .education-timeline .study-emoji::before {
      content: "";
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      width: 32px;
      height: 32px;
      background: url(https://emojis.slackmojis.com/emojis/images/1643516167/21918/graduation-celebration.gif?1643516167) left bottom/cover no-repeat; }
    body .education-timeline .study-emoji::after {
      content: "";
      position: absolute;
      top: 52%;
      left: 0;
      height: 5px;
      width: 0%;
      background-color: var(--text-color);
      animation: load 2s;
      animation-iteration-count: infinite; }
  body .end-credits {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background: var(--dark-pink);
    color: #fff; }

h1 span {
  position: relative; }
  h1 span:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: calc(50% - 2rem);
    width: 4rem;
    height: 4px;
    background-color: var(--dark-pink); }

#font-size-3rem, body .home .user-basic-details .name-font, h1 {
  font-size: 3rem; }

.light-mode {
  --text-color: #33272a;
  --bg-color: #faeee7; }

.highlighted-text {
  color: var(--dark-pink); }

@media (max-width: 800px) {
  .home .profile-pic {
    display: none; }
  .work-timeline::before {
    left: 0 !important; }
  .work-timeline li:before {
    left: -6px !important; }
  .work-timeline li .timeline-content {
    width: 100% !important;
    float: none !important;
    padding-left: 2rem;
    padding-right: 0 !important; }
  .work-timeline li .timeline-year {
    width: 100% !important;
    float: none !important;
    text-align: left !important;
    padding-left: 2rem;
    padding-right: 0 !important;
    margin-top: 0 !important; }
    .work-timeline li .timeline-year p {
      display: inline-block;
      border: 2px solid var(--text-color);
      border-radius: 8px;
      padding: 0.5rem; }
  .education-timeline {
    flex-direction: column; }
    .education-timeline .education-timeline-item:nth-child(1)::after {
      top: auto !important;
      bottom: -8px;
      left: 50% !important;
      transform: translateX(-50%); }
    .education-timeline .education-timeline-item.btech-item::before {
      top: -8px !important;
      right: auto !important;
      left: 50% !important;
      transform: translateX(-50%); }
    .education-timeline .study-emoji {
      min-height: 100px;
      padding: 0; }
      .education-timeline .study-emoji::before {
        left: 40% !important;
        transform: translateX(-40%) !important; }
      .education-timeline .study-emoji::after {
        top: 0 !important;
        left: 50% !important;
        height: 0;
        width: 5px !important;
        transform: translateX(-50%);
        animation: loadY 2s !important;
        animation-iteration-count: infinite !important; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes wave-animation {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(14deg); }
  20% {
    transform: rotate(-8deg); }
  30% {
    transform: rotate(14deg); }
  40% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes load {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes loadY {
  0% {
    height: 0; }
  100% {
    height: 100px; } }

@keyframes scroll-down {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
